doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://code.jquery.com/jquery-3.6.3.min.js") 
        link(rel="stylesheet", href="/stylesheets/gmap.css")
        title #{title}
  [Thursday 20:18] 105115 - Cesáreo Castillo Torres
body
block content 
#map
script(src="/javascripts/gmap.js") 
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHCAZ59-XRJXCmaKGGeLhGZ_AaQXU5J54&callback=initMap") 
<https://teams.microsoft.com/l/message/19:OdeDPg4qdWeJ6gquDcsUOtOHQnLkGTJKhLpJ-NGbFos1@thread.tacv2/1676600329160?tenantId=1201e670-28b4-485d-993a-b1c548da2fab&amp;groupId=42fd451f-bc12-4298-aa70-6250ff0ac30e&amp;parentMessageId=1676596437348&amp;teamName=DESARROLLO DE SISTEMAS GEO REFERENCIADOS 611&amp;channelName=General&amp;createdTime=1676600329160&amp;allowXTenantAccess=false> 